@font-face {
  font-family: calibre-medium;
  src: url("./fonts/calibre-medium.woff2") format("woff2");
}

@font-face {
  font-family: calibre-regular;
  src: url("./fonts/calibre-regular.woff2") format("woff2");
}

:root {
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

*,
::before,
::after {
  box-sizing: inherit;
}

@media (min-width: 770px) {
  /*for Desktop*/
  .header {
    padding: 0px 50px;
  }

  main.content {
    padding: 0px 150px;
  }

  .header-collapse {
    display: none;
  }

  .big-heading {
    font-size: 80px;
  }

  .ham-button {
    display: none;
  }

  .hero p {
    font-size: 20px;
  }

  .footer_socials {
    display: none;
  }
  .inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
  }
}

@media (max-width: 770px) {
  /*for Mobile*/
  .header {
    padding: 0px 25px;
  }

  main.content {
    padding: 0px 25px;
  }

  .big-heading {
    font-size: 40px;
  }

  .socials,
  .email,
  .header-right {
    display: none !important;
  }

  .hero p {
    font-size: 18px;
  }

  .footer_socials {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0px auto 10px;
    color: #8892b0;
  }

  .footer_socials ul {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }

  .footer_socials ul li {
    padding: 10px;
  }

  .footer_socials ul li svg {
    width: 20px;
    height: 20px;
  }
  .inner {
    display: block;
  }
  .numbered-heading::after {
    width: 100% !important;
    margin-left: 10px !important;
  }
  .full-logo {
    margin: 50px auto 0px !important;
    width: 70% !important;
    max-width: 300px;
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: #495670 #252a33;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #252a33;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #495670;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #495670;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  background-color: #252a33;
  color: #8892b0;
  font-family: "Calibre-regular", "Inter", "San Francisco", "SF Pro Text",
    -apple-system, system-ui, sans-serif;
  font-size: 20px;
  line-height: 1.3;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: grid;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  transition: var(--transition);
  background-color: rgba(37, 42, 51, 0.85);
  pointer-events: auto !important;
  user-select: auto !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  filter: none !important;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  color: #ccd6f6;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.header-right {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}

.header-right ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.header-right ol li {
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fz-xs);
}

.header-links {
  font-size: 14px;
  line-height: 17px;
  color: #ccd6f6;
  text-decoration: none;
  padding: 10px;
  transition: var(--transition);
}

.header-links:hover {
  color: #6200ff;
}

.header-collapse div {
  display: none;
}

.number {
  color: #6200ff;
}

main {
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;
}

.hero {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

.hero h1 {
  margin: 0px 0px 20px 4px;
  color: #6200ff;
  font-family: monospace;
  font-weight: 400;
  font-size: 18px;
}

.hero h3 {
  margin-top: 10px;
  color: var(--slate);
  line-height: 0.9;
}

.hero p {
  margin: 40px 0px 0px;
  max-width: 540px;
}

.essentialsp-link {
  color: #6200ff;
  z-index: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: #ccd6f6;
  line-height: 1.1;
}

.big-heading {
  margin: 0px;
  font-family: "Calibre-medium", "Inter", "San Francisco", "SF Pro Text",
    -apple-system, system-ui, sans-serif;
}

.hero .github-btn {
  color: #6200ff;
  background-color: transparent;
  border: 1px solid #6200ff;
  border-radius: 4px;
  padding: 19px 28px;
  font-size: 16px;
  font-family: monospace;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 50px;
  z-index: 0;
}

.hero .github-btn:hover {
  background-color: rgba(93, 0, 255, 0.1);
}

.btn {
  text-decoration: none;
  color: #6200ff;
}

.socials {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: #ccd6f6;
  margin-bottom: 40px;
}

.socials ul {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.socials ul li a {
  padding: 10px;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

img{
  z-index: -1;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentcolor;
  vertical-align: middle;
}

svg.feather {
  fill: none;
}

.socials ul li a svg {
  width: 20px;
  height: 20px;
}

.socials a:hover {
  color: #6200ff;
  transform: translateY(-3px);
}

.email {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: #ccd6f6;
}

.email div {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  position: relative;
}

.email a {
  margin: 40px auto;
  padding: 10px;
  font-family: monospace;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
}

.email a:hover {
  color: #6200ff;
  transform: translateY(-3px);
}

button {
  cursor: pointer;
  border: 0px none;
  border-radius: 0px;
}

.ham-button .ham-box {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 24px;
}

.ham-button .ham-box-inner {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: #6200ff;
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(0deg);
}

.ham-sidebar {
  display: none;
}

.ham-sidebar nav {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: #ccd6f6;
  font-family: monospace;
  text-align: center;
}

.ham-sidebar ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 100%;
}

.ham-sidebar ol li {
  position: relative;
  margin: 0px auto 20px;
  counter-increment: item 1;
  font-size: clamp(var(--fz-sm), 4vw, var(--fz-lg));
}

.ham-sidebar ol a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  width: 100%;
  padding: 3px 20px 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
}

.footer_credits {
  color: #8892b0;
  font-family: monospace;
  font-size: 14px;
  line-height: 1;
}

.footer_credits a {
  padding: 10px;
  letter-spacing: 0.2px;
}

.footer_credits:hover {
  color: #6200ff;
}

.about {
  max-width: 900px;
}

.numbered-heading {
  display: flex;
  align-items: center;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, 32px);
  font-weight: 600;
  font-family: Calibre-Medium;
  white-space: nowrap;
}

.numbered-heading::before {
  padding-top: 6px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: #6200ff;
  font-family: monospace;
  font-size: clamp(16px, 3vw, 22px);
  font-weight: 400;
}

.numbered-heading::after {
  display: block;
  position: relative;
  content: "";
  margin-top: 11px;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #233554;
}

p {
  margin: 0px 0px 15px;
}

.about-img {
  position: relative;
  max-width: 300px;
}

.full-logo {
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  transition: var(--transition);
  display: block;
  position: relative;
  border-radius: 4px;
  width: 300px;
}
